.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
  word-wrap: break-word;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 20px 20px;

  border-radius: 10px;
  z-index: 50;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
