/* give all text color primary var as color */
html {
  color: var(--color-primary);
}

.signUp {
  width: min(var(--signUpWidth), 90%);
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.signUpCard {
  margin: 0px 30px 1rem 30px;
  height: fit-content;
  max-width: 800px;
  border-radius: var(--borderRadius);
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.signUpTitle {
  font-size: 2.5rem;
  margin-bottom: 30px;
}

form {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.inputs {
  margin-bottom: 20px;
}

.formGroup {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-bottom: 15px;
}

.formGroup > p {
  margin-bottom: 30px;
  font-size: 1.15rem;
}

.formGroup > input {
  height: 40px;
  padding: 0 10px;
  border: none;
  border: 1px solid var(--input-border);
  border-radius: var(--borderRadius);
  outline: none;
  background: var(--input);
  color: var(--color-primary);
}

.signUpSubmit,
.logInSubmit {
  width: 100%;
  height: 60px;
  border: none;
  border-radius: var(--borderRadius);
  color: var(--opposing-text);
  font-size: 1.15rem;
  background: var(--color-tertiary); 
}


.signUpSubmit:hover,
.logInSubmit:hover {
  cursor: pointer;
  /* background-color: #0d6efd; */
  /* gradient background */
  opacity: 0.8;
}

.have-account-link {
  color: inherit;
  text-decoration: inherit;
  background: none;
}

.have-account-link:hover {
  cursor: pointer;
  text-decoration: underline;
  background: none;
}

.haveAccount {
  text-align: center;
  color: var(--color-primary);
}

.haveAccount:hover {
  cursor: pointer;
  color: var(--color-tertiary);
  background: none;
  text-decoration: underline;
}

.forgotPass {
  margin-top: 20px;
}

