.dashboard {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  width: 100vw;
  display: flex;
}

.timerContainer {
  margin: auto;
}

.timerContainerDiv {
  overflow: hidden;
  margin: 0 auto;
}

.resetBtn {
  position: absolute;
  cursor: pointer;
  top: 25%;
  right: 0;
  border: none;
  height: 40px;
  width: 60px;
  background: rgb(255, 65, 65);
  border-radius: 15px 0 0 15px;
  color: white;
  /* shadow down to the left */
  box-shadow: var(--shadow) 0px 8px 24px;
}

.bottomButtons {
  position: fixed;
  display: flex;
  height: fit-content;
  flex-direction: row;
  gap: 10px;
  bottom: 0px;
  left: 0px;
  align-items: center;
  justify-content: center;
  padding: 15px 15px 15px 15px;
  border-radius: 0 15px 0 0;
  background: var(--color-secondary);
  box-shadow: var(--shadow) 0px 8px 24px;
  z-index: 5;
  appearance: none;
}

.bottomButtonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  
}

.bottomButton {
  background: none;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  border: none;
}

.bottomButton > i {
  font-size: 1rem;
}

.bottomButton,
.bottomButton > i {
  cursor: pointer;
  color: var(--color-primary);
  /* border: none; */
}

.bottomButtonText {
  text-align: center;
  font-size: 10px;
  width: 100%;
  margin-top: 8px;
}

.bottomButton:hover,
.bottomButton.active {
  background: var(--background-color);
}

/* media for bigger display than 858px */
@media screen and (min-width: 858px) {
  .bottomButtons {
    height: min(90px);
    bottom: 20px;
    left: 20px;
    border-radius: 15px;
  }

  .bottomButton {
    width: 70px;
    height: 70px;
    border-radius: 15px;
    padding: 10px;
  }

  .bottomButton > i {
    font-size: 1.5rem;
  }

  .resetBtn {
    height: 60px;
    width: 80px;
  }

  .bottomButtonText {
    font-size: 10px;
  }

  .bottomButton > i {
    font-size: 30px;
  }
}

@media screen and (max-height: 400px) {
  .bottomButtonText {
    font-size: 10px;
    margin-top: 0px;
  }
}

@media screen and (max-width: 680px) {
  .bottomButtons {
    gap: 6px;
  }
}
