* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body {
  font-family: montserrat;
}
nav {
  position: absolute;
  z-index: 2;
  top: 0;
  height: 80px;
  width: 100%;
}

nav ~ i {
  font-size: 1.5rem;
}

.themeToggle {
  border: none;
  background: none;
  color: var(--opposing-text);
  padding: 7px 14px;
}

.themeToggle:hover {
  background: var(opposing-text);
  transition: 0.5s;
}

label.logo {
  color: var(--color-primary);
  font-size: 35px;
  line-height: 80px;
  padding: 0 20px;
  font-weight: bold;
  cursor: pointer;
}

.logoLink:hover {
  cursor: pointer;
}
nav ul {
  float: right;
  /* margin-right: 20px; */
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a {
  color: var(--color-primary);
  font-size: 17px;
  font-weight: 600;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

a:hover {
  background: var(opposing-text);
  transition: 0.5s;
}

.checkbtn {
  font-size: 30px;
  color: rgb(255, 255, 255);
  float: right;
  line-height: 80px;
  margin-right: 30px;
  cursor: pointer;
  display: none;
}
.hamburger {
  color: var(--color-primary);
  font-size: 25px;
}
#check {
  display: none;
}

.userEmailNav {
  color: var(--opposing-text);
}

.iconNav {
  font-size: 20px;
  line-height: 80px;
  color: var(--opposing-text);
  cursor: pointer;
}

.timerContainer {
  width: min(75vh, 80vw);
  width: min(calc(var(--vh, 1vh) * 75), 80vw);
}

.userEmailNav,
.logoutIconNav {
  color: var(--opposing-text);
}

@media (max-width: 952px) {
  label.logo {
    font-size: 30px;
    padding-left: 20px;
  }
  nav ul li a {
    font-size: 16px;
  }
}
@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }
  ul {
    border-radius: var(--borderRadius) 0 0 var(--borderRadius);
    position: fixed;
    padding: 20px;
    width: fit-content;
    height: fit-content;
    background: var(--color-primary);
    top: 80px;
    right: -120%;
    text-align: center;
    transition: all 0.5s;
    z-index: 50;
  }
  nav ul li {
    display: block;
    margin: 20px 0;
    line-height: 30px;
  }
  nav ul li a {
    color: var(--opposing-text);
    font-size: 20px;
    margin: 0;
  }

  #check:checked ~ ul {
    right: 0;
  }
}
section {
  background-size: cover;
  height: calc(100vh - 80px);
  height: calc(calc(var(--vh, 1vh) * 100) - 80px);
}

@media screen and (min-width: 858px) {
  .iconNav {
    color: var(--color-primary);
  }

  .userEmailNav,
  .logoutIconNav {
    color: var(--color-primary);
  }
  .userEmailNav {
    color: var(--color-primary);
  }
}
