.privacy-div {
  margin: 140px 70px 20px 70px;
}

.privacyTitle {
  font-size: 2.5rem;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
  text-align: left;
}

.privacyH2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  margin-top: 40px;
}

h3 {
  font-size: 1.15rem;
  margin-bottom: 20px;
  margin-top: 40px;
}

.privacyP {
  margin-bottom: 20px;
}

.privacy-ul {
  margin-bottom: 20px;
}

.privacy-li {
  margin-bottom: 10px;
  padding-left: 0;
  margin-left: 30px;
  /* style with bullet*/
  list-style-type: disc;
}

.privacyLink {
  color: var(--color-primary);
  text-decoration: underline;
}

footer {
  margin-top: 20px;
  margin-bottom: 20px;
}
