.ranksDiv {
  width: 100%;
  height: 100%;
  margin: 120px auto auto auto;
}

.ranksContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}

.rank {
  height: 100px;
  width: min(90%, 800px);
  background: var(--color-secondary);
  margin-bottom: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.lastRank {
  margin-bottom: 100px;
}
.currentRank {
  border: 5px solid rgb(83, 163, 255);
}

.horizontalLine {
  width: 60%;
  height: 1px;
  background: var(--color-tertiary);
  margin: 10px 0;
}

.rankName {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--color-primary);
}

.rankDays {
  font-size: 1rem;
  color: var(--color-tertiary);
  font-weight: 500;
}
