[data-theme="dark"] {
  --color-primary: #ececec;
  --color-secondary: #0f1416;
  --color-tertiary: #cacaca;
  --input: #242424;
  --input-border: #3c3c3c;
  --background-color: #000000;
  --timer-color: #0f1416;
  --timer-fill-color: #0f1416;
  --opposing-text: #242424;
  --opposing-text-secondary: #3c3c3c;
}

[data-theme="light"] {
  --color-primary: #242424;
  --color-secondary: #ececec;
  --color-tertiary: #303030;
  --input-border: #cacaca;
  --input: #ffffff;
  --background-color: #ffffff;
  --timer-color: #ececec;
  --opposing-text: #ececec;
  --opposing-text-secondary: #cacaca;
}
