.timerContents {
    height: 100%;
    padding: 50px 20px 50px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.days {
    font-size: min(10vh, 10vw);
}

.clock {
    font-size: min(5vh, 5vw);
}

.sobriety {
    font-size: min(3vh, 3vw);
}

.chain {
    width: 200px;
    margin-top: 10px;
}

.chainPath {
    fill: var(--color-primary);
    stroke: none;
}