.timerContents {
    height: 100%;
    padding: 50px 20px 50px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.days {
    font-size: 3rem;
}

.clock {
    font-size: 1.2rem;
}

.sobriety {
    font-size: 1rem;
    margin-top: 10px;
}

.chain {
    width: 200px;
    margin-top: 10px;
}

.chainPath {
    fill: var(--color-primary);
    stroke: none;
}